
@media screen and (max-width: 660px) and (orientation: landscape){

  section {
    height: 240px;
    width: 470px;
    flex-direction: row;
    gap: 17px;
    font-size: 17px;
  }

   section > form > input{
    height: 40px;
    width: 120px;
    font-size: 16px;
  }

  section > .resultado > p{ 
    font-size: 16px;
  }

  section > .resultado > img{ 
    height: 140px;
    width: 160px;
  }

}

