@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: cornflowerblue;
}

header{
    color: white;
    font-size: 23px;
    font-weight: 600;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.685));
}


section{
    width: 700px;
    margin: 20px;
    padding: 30px 15px;
    font-size: 20px;
    border-radius: 23px;
    background-color: white;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.562);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
}

section > form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
}

section > form > .date > input{
    height: 29px;
    width: 60px;
    padding-left: 9px;
    font-size: 16px;
    outline-color: rgba(243, 11, 11, 0.925);
}

section > form > input{
    height: 50px;
    width: 160px;
    font-size: 20px;
}

section > .resultado{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

section > .resultado > p{ 
    word-wrap: break-all;
}

section > .resultado > img{
    display: none;
    height: 280px;
    width: 300px;
}

footer{
    color: white;
    font-size: 18px;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.685);
}
















































