@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: cornflowerblue;
}

header{
    color: white;
    font-size: 23px;
    font-weight: 600;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.685));
}


section{
    font-size: 20px;
    width: 700px;
    padding: 30px 15px;
    border-radius: 23px;
    background-color: white;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.562);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

section > .date, .sex{
    display: flex;
    align-items: center;
    gap: 8px;
}

section > .date > input{
    height: 29px;
    width: 60px;
    padding: auto 3px;
    text-align: center;
    font-size: 16px;
    outline-color: rgba(243, 11, 11, 0.925);
}

section > .sex > input:not(:last-child){
    height: 17px;
    width: 17px;

}

section > .sex > input:last-child {
    padding: 5px 17px;
    font-size: 16px;
}

section > .resultado{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

section > .resultado > img{
    display: none;
    height: 280px;
    width: 300px;
}

footer{
    color: white;
    font-size: 18px;
    font-style: italic;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.685))
}
















































