@media screen and (max-width: 790px){
    
  .content > .box-content{
      display: flex;
      flex-direction: column;
  }

  .content > .box-content > div.one-card > p{
      font-size: 22px;
  }

}

@media screen and (max-width: 600px) {

  .content > .box-content{
      height: 600px;
      width: 290px;
  }
}

@media screen and (max-width: 400px) {

  .content > .box-content{
      height: 560px;
      width: 260px;
  }

  .content > .box-content > div.one-card{
    width: 160px;
  }

  .content > .box-content > div.one-card > span{
      font-size: 60px;
  }

  .content > .box-content > div.one-card > p{
      font-size: 19px;
  }

}

@media screen and (max-width:330px) {

  .content > .box-content{
      height: 440px;
      width: 210px;
  }

  .content > .box-content > div.one-card{
    height: 100px;
    width: 130px;
  }

  .content > .box-content > div.one-card > span{
      font-size: 35px;
  }

  .content > .box-content > div.one-card > p{
      font-size: 15px;
  }

}