@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
   background: linear-gradient(45deg, #940894, #551e9f) fixed no-repeat;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    height: 290px;
    width: 	800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content > .box-content {
    margin: 20px;
    padding: 30px 30px;
    border-radius: 7px;
    display: inherit;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 17px 15px rgba(2, 2, 2, 0.171);
}

.content > .box-content > .one-card {
    height: 27%;
    width: 80%;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 220, 220);
    box-shadow: 0px 0px 25px rgba(2, 2, 2, 0.26);
}

.content > .box-content > .one-card > span, p{
    background: -webkit-linear-gradient(#940894, #551e9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content > .box-content > .one-card > span {
    font-size: 3.5rem;
    font-weight: bolder;    
}

.content > .box-content > .one-card > p {
    font-size: 2rem;
    font-weight: normal;    
}
